

body{
    text-align: center;
    text-transform: uppercase;

    background: linear-gradient(to left, gray,green);
    top:15%;
    font: sans-seriff;
   
    color: rgba(0,0,0, .5)
}
h1{

    text-transform: uppercase;
}

h3 {

    font: sans-seriff;
    color: rgba(0,0,0, .5);
    text-transform: none;

}